{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [ "react" ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "array-bracket-spacing": [ "warn", "always" ],
    "comma-dangle": [ "error", "always-multiline" ],
    "default-case": "warn",
    "eqeqeq": [ "error", "smart" ],
    "indent": [ "error", 2 ],
    "jsx-quotes": [ "error", "prefer-double" ],
    "no-console": [ "warn" ],
    "no-else-return": "error",
    "no-empty": 0,
    "no-param-reassign": "error",
    "no-use-before-define": [ "error", "nofunc" ],
    "no-var": "error",
    "object-curly-spacing": [ "warn", "always" ],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "quotes": [ "error", "single" ],
    "keyword-spacing": "warn",
    "react/jsx-closing-bracket-location": [ "warn", "line-aligned" ],
    "react/jsx-key": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "error",
    "semi": [ "error", "always" ]
  }
}
